@mixin btn {
    padding: 0.7em 1em;
    margin: 1em;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 1em;
    border-radius: 0.5em;
    background-color: $primary;
    color: white;
    cursor: pointer;
    box-shadow: -1px 1px 3px black;

    &:hover{
        background-color: lighten($color: $primary, $amount: 6);
    }

    &:active{
        background-color: darken($color: $primary, $amount: 10);
    }

}

@mixin desktop {
    @media (max-width: 1069px) {
      @content;
    }
  }
@mixin desktop2 {
    @media (max-width: 1009px) {
      @content;
    }
  }
@mixin tablet {
    @media (max-width: 860px) {
      @content;
    }
  }
@mixin mobile {
    @media (max-width: 660px) {
      @content;
    }
  }
@mixin mini-mobile {
    @media (max-width: 520px) {
      @content;
    }
  }
@mixin mini-mobile2 {
    @media (max-width: 430px) {
      @content;
    }
  }
@mixin mini-mobile3 {
    @media (max-width: 400px) {
      @content;
    }
  }


$primary : #008AFF;