@import "includes.scss";

.questions{
    h2{
        text-align: center;
        color: $primary;
    }
    padding: 1em 3em;
    display: none;
    &__progress{
        display: flex;
        justify-content: center;
        align-items: center;
        &__bar{
            width: 60%;
            min-width: 280px;
            height: 1.2em;
            border: 2px solid $primary;
            border-radius: 1em;
            margin-right: 1em;
            &__fill{
                border-radius: 1em;
                background-color: $primary;
                width: 10%;
                height: 100%;
            }
        }
    &__count{
        font-weight: 700;
        font-size: 1.5em;
        color: $primary;
    } 
    }
    &__field{
        &__container{
            &__text{
                font-weight: 600;
                font-size: 1.3em;
                text-align: center;
            }
       }
      
       &__img{
           width: 100%;
           text-align: center;
           display: flex;
           justify-content: flex-end;
           align-items: center;
           @include mini-mobile3{
            margin-left: 2.5em;
            }
           img{
               width: 35%;
               min-width: 350px;
               height: 11em;
               padding: 0.5em 2em;
               border: 8px solid $primary;
               box-shadow: -2px 5px 8px black;
               @include mobile{
                margin-left: 10%;
                }
               @include mini-mobile{
                min-width: 250px;
                margin-left: 10%;
                }
               @include mini-mobile2{
                min-width: 200px;
                margin-left: 40%;
                }
                
           }
       }

       &__area{
           width: 100%;
           margin: 1em;
           &__container{
               width: 100%;
               text-align: center;
               &__row{
                   display: flex;
                   justify-content: space-evenly;
                   margin-left: -2em;
                   button{
                       @include btn;
                       width: 20%;
                       min-width: 100px;
                       border-radius: 1.5em;
                   }
               }
           }
       }
    }
}



.next{
    text-align: center;
    &__button{
        @include btn;
    }
}

.score{
    display: none;
    text-align: center;
}

.timer{
    height: 15em;
    width: 28%;
    transform: rotate(180deg);
    margin-left: 1em;
    @include tablet{
        width: 18%;
    }
    @include mobile{
        width: 8%;
    }
    @include mini-mobile{
        width: 5%;
    }
    &__bar{
        border: 1px solid $primary;
        width: 7%;
        min-width: 15px;
        height: 100%;
        margin: 0 auto;
        border-radius: 1.5em;
        &__fill{
            background-color: $primary;
            height: 100%;
            border-radius: 1.5em;
        }
    }
    &__counter{
        transform: rotate(180deg);
        display: block;
        color: $primary;
        font-weight: 600;
    }
}
