@import "header.scss";
@import "includes.scss";

.test{
    padding: 1em 3em 2em;
    h1{
        text-align: center;
        color: blue;
    }
    &__button{
        text-align: center;
        &__demarrer{
            @include btn;
        }
    }
}